{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "semi": [2, "never"],
    "no-param-reassign": ["error", { "props": false }],
    "no-underscore-dangle": ["error", { "allow": ["_id"] }]
  }
}